---
import type { CollectionEntry } from "astro:content";
import { format } from "date-fns";

interface Props {
  education: CollectionEntry<"education">[];
  className?: string;
}

const { education, className } = Astro.props;

const educationItems = await Promise.all(
  education.map(async (entry) => {
    const { Content } = await entry.render();
    return { ...entry, Content };
  }),
);
---

<ul class:list={["", className]}>
  {
    educationItems.map((item) => (
      <li class="mt-4 border-b border-muted-foreground/10 py-8 first-of-type:mt-0 first-of-type:pt-0 last-of-type:border-none">
        <div class="mb-4 font-mono text-sm uppercase">
          {`${format(item.data.startDate, "MMM yyyy")} - ${item.data.endDate ? format(item.data.endDate, "MMM yyyy") : "NOW"}`}
        </div>
        <div class="text-lg font-bold">{item.data.institution}</div>
        <div class="text-xs font-semibold text-foreground/70">
          {item.data.degree}
        </div>
        <div class="prose prose-stone mt-5 max-w-none dark:prose-invert md:prose-lg lg:prose-xl">
          <p>
            <item.Content />
          </p>
        </div>
      </li>
    ))
  }
</ul>
