---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { Button } from "@/components/ui/button";
---

<BaseLayout title="Home">
  <div class="container mx-auto mt-24 flex flex-col items-center gap-3">
    <h1 class="text-3xl font-black">Welcome to Research Portal</h1>
    <Button>Click Me</Button>
  </div>
</BaseLayout>
