---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { Button } from "@/components/ui/button";
---

<BaseLayout title="Home">
  <div class="container mx-auto mt-24 flex flex-col items-center gap-3">
    <h1 class="text-3xl font-black">Welcome to Research Portal</h1>
    <Button variant={"outline"}>Click Me</Button>
    <div class="mt-11 flex h-screen flex-col justify-between">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus
        tenetur commodi maxime adipisci aliquid itaque quasi tempora
        reprehenderit dolorem! In ratione a quasi suscipit sit, sint commodi
        consequatur quibusdam labore.
      </p>

      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam suscipit
        accusantium, expedita dolorem quod consequuntur est, blanditiis nihil
        quos unde corrupti cum autem ad qui nemo quaerat, explicabo eaque
        adipisci.
      </p>

      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores
        molestiae dignissimos aliquam possimus, maxime porro ex ea, ab ipsum
        perferendis impedit, quae deserunt debitis consequatur sunt culpa
        repudiandae ad? In?
      </p>
    </div>
  </div>
</BaseLayout>
