---
import "@/styles/base.css";
import { Button } from "@/components/ui/button";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Research Portal</title>
	</head>
	<body>
		<div class="container mx-auto flex flex-col gap-3 items-center mt-24">
			<h1 class="text-3xl font-black">Welcome to Research Portal</h1>
			<Button>Click Me</Button>
		</div>
	</body>
</html>
