---
import PublicationsDisplay from "@/components/blocks/Publication/PublicationsDisplay";
import BaseLayout from "@/layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

const publications = await getCollection(
  "publications",
  ({ data }) => data.status === "published",
);

const authors = await getCollection("authors");

const uniqueTags = [
  ...new Set(publications.flatMap((publication) => publication.data.tags)),
]
  .filter((tag) => tag !== undefined)
  .sort((a, b) => a.localeCompare(b));

const data = publications.map((publication) => {
  const pubAuthors = publication.data.authors
    .map((pubAuthor) =>
      authors.find((author) => author.slug === pubAuthor.slug),
    )
    .filter((author) => author !== undefined);

  return {
    ...publication,
    authors: pubAuthors,
  };
});
---

<BaseLayout title="Publications">
  <section>
    <div class="container">
      <h1 class="text-center text-4xl font-black">Read our Publications</h1>
      <PublicationsDisplay
        className="mt-11"
        initialPublications={data}
        tags={uniqueTags}
        authors={authors}
        client:visible
      />
    </div>
  </section>
</BaseLayout>
