---
import type { ComponentProps } from "astro/types";
import BaseHead from "@/layouts/BaseHead.astro";
import Header from "@/components/blocks/Header/Header";
import Footer from "@/components/blocks/Footer.astro";

import { extractLangFromUri } from "@/lib/i18n.utils";

interface Props extends ComponentProps<typeof BaseHead> {
  layoutClasses?: string;
  is404?: boolean;
}

const { title, description, layoutClasses, is404 } = Astro.props;

const [lang] = extractLangFromUri(Astro.url);
---

<html lang={lang}>
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body class="grid min-h-screen grid-rows-[auto_1fr_auto]">
    {!is404 && <Header client:only="react" />}
    <main class:list={["my-11", layoutClasses]}>
      <slot />
    </main>
    {!is404 && <Footer />}
  </body>
</html>
