---
import type { ComponentProps } from "astro/types";
import { getCollection } from "astro:content";
import BaseLayout from "./BaseLayout.astro";
import type { ProjectItem } from "@/context/project.context";
import type { CollectionEntry } from "astro:content";
import { ChevronLeftIcon } from "lucide-react";
import ProjectInfo from "@/components/blocks/Project/ProjectInfo";
import { Button } from "@/components/ui/button";

interface Props extends ComponentProps<typeof BaseLayout> {
  // Add props here
  project: CollectionEntry<"projects">;
}

const { project, ...rest } = Astro.props;

const authors = await getCollection("authors", ({ slug }) =>
  project.data.authors.map((author) => author.slug).includes(slug),
);

const projectItem = {
  project,
  authors,
} satisfies ProjectItem;
---

<BaseLayout {...rest}>
  <div class="container grid items-stretch gap-10">
    <a href="/publications">
      <Button
        variant={"outline"}
        size={"sm"}
        className="flex items-center justify-center gap-2"
      >
        <ChevronLeftIcon className="size-4" />
        Back to Projects
      </Button>
    </a>
    <article
      class="prose prose-stone max-w-none overflow-hidden dark:prose-invert md:prose-lg lg:prose-xl"
    >
      <header class="">
        <h1>{project.data.title}</h1>
        <ProjectInfo className="" projectItem={projectItem} client:load />
        <h2>Abstract</h2>
        <p class="lead">{project.data.summary}</p>
      </header>
      <main class="mt-11">
        <slot />
      </main>
    </article>
  </div>
</BaseLayout>
