---
import type { ComponentProps } from "astro/types";
import { getCollection } from "astro:content";
import BaseLayout from "./BaseLayout.astro";
import type { ProjectItem } from "@/context/project.context";
import type { CollectionEntry } from "astro:content";
import { ChevronLeftIcon } from "lucide-react";
import ProjectInfo from "@/components/blocks/Project/ProjectInfo";
import GoBackButton from "@/components/utility/GoBackButton";
import { extractLangFromUri, useTranslations } from "@/i18n/utils";

interface Props extends ComponentProps<typeof BaseLayout> {
  // Add props here
  project: CollectionEntry<"projects">;
  backLink?: string;
}

const { project, ...rest } = Astro.props;

const authors = await getCollection("authors", ({ slug }) =>
  project.data.authors.map((author) => author.slug).includes(slug),
);

const projectItem = {
  project,
  authors,
} satisfies ProjectItem;

const [lang] = extractLangFromUri(Astro.url);
const t = useTranslations(lang);
---

<BaseLayout {...rest}>
  <div class="container grid items-stretch gap-10">
    <GoBackButton
      variant={"outline"}
      size={"sm"}
      className="flex items-center justify-center gap-2 place-self-start"
      client:visible
    >
      <ChevronLeftIcon className="size-4" />
      {t("page.project.button.go-back")}
    </GoBackButton>
    <article
      class="prose prose-stone max-w-none overflow-hidden dark:prose-invert md:prose-lg lg:prose-xl"
    >
      <header class="">
        <h1>{project.data.title}</h1>
        <ProjectInfo projectItem={projectItem} client:load />
        <p class="lead">{project.data.summary}</p>
      </header>
      <main class="mt-11">
        <slot />
      </main>
    </article>
  </div>
</BaseLayout>
