---
import type { ComponentProps } from "astro/types";
import { getCollection } from "astro:content";
import BaseLayout from "./BaseLayout.astro";
import type { CollectionEntry } from "astro:content";
import { ChevronLeftIcon } from "lucide-react";
import PublicationInfo from "@/components/blocks/Publication/PublicationInfo";
import GoBackButton from "@/components/utility/GoBackButton";
import { extractLangFromUri, useTranslations } from "@/i18n/utils";

interface Props extends ComponentProps<typeof BaseLayout> {
  publication: CollectionEntry<"publications">;
  minutesRead: number;
}

const { publication, minutesRead, ...rest } = Astro.props;

const authors = await getCollection("authors", ({ slug }) =>
  publication.data.authors.map((author) => author.slug).includes(slug),
);

const publicationItem = {
  publication,
  authors,
};

const [lang] = extractLangFromUri(Astro.url);
const t = useTranslations(lang);
---

<BaseLayout {...rest}>
  <div class="container grid items-stretch gap-10">
    <GoBackButton
      variant={"outline"}
      size={"sm"}
      className="flex items-center justify-center gap-2 place-self-start"
      client:visible
    >
      <ChevronLeftIcon className="size-4" />
      {t("page.publication.button.go-back")}
    </GoBackButton>
    <article
      class="prose prose-stone max-w-none overflow-hidden dark:prose-invert md:prose-lg lg:prose-xl"
    >
      <header class="">
        <h1>{publication.data.title}</h1>
        <PublicationInfo
          className=""
          publicationItem={publicationItem}
          client:load
        />
        <p class="lead">{publication.data.summary}</p>
      </header>
      <main class="mt-11">
        <slot />
      </main>
    </article>
  </div>
</BaseLayout>
