---
import type { ComponentProps } from "astro/types";
import BaseLayout from "./BaseLayout.astro";
import type { CollectionEntry } from "astro:content";
import { ChevronLeftIcon } from "lucide-react";
import GoBackButton from "@/components/utility/GoBackButton";
import { format } from "date-fns";
import { extractLangFromUri, useTranslations } from "@/lib/i18n.utils";

interface Props extends ComponentProps<typeof BaseLayout> {
  // Add props here
  page: CollectionEntry<"legal" | "docs">;
}

const { page, ...rest } = Astro.props;

const [lang] = extractLangFromUri(Astro.url);
const t = useTranslations(lang);
---

<BaseLayout {...rest}>
  <div class="container grid items-stretch gap-10">
    <GoBackButton
      variant={"outline"}
      size={"sm"}
      className="flex items-center justify-center gap-2 place-self-start"
      client:visible
    >
      <ChevronLeftIcon className="size-4" />
      {t("page.legal.button.go-back")}
    </GoBackButton>
    <article
      class="prose prose-stone max-w-none overflow-hidden dark:prose-invert md:prose-lg lg:prose-xl"
    >
      <header>
        <h1>{page.data.title}</h1>
        <time class="font-mono"
          >{format(page.data.publishedAt, "yyyy-MM-dd")}</time
        >
      </header>
      <main class="mt-11">
        <slot />
      </main>
    </article>
  </div>
</BaseLayout>
